<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="listing[description]" required>
      <%= listing.description %> </textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-7">
          <label for="image" class="form-label">Upload New Image</label>
          <input class="form-control" name="listing[image]" type="file" />
        </div>
        <div class="mb-3 col-md-5">
          <p class="mb-1">Original Listing Image</p>
          <img src="<%= originalImageUrl %>" alt="image" class="edit-image" />
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-6">
          <label for="category" class="form-label">Choose a category:</label>
          <select
            name="listing[category]"
            id="category"
            class="form-control"
            value="<%= listing.category %>"
            required
          >
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic Cities">Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Amazing Pools">Pools</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Beach">Beach</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="country" class="form-label">Country</label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">Country name should be valid</div>
        </div>

        <div class="mb-3 col-md-6">
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              class="form-control"
              type="text"
              name="listing[location]"
              value="<%= listing.location %>"
              required
            />
            <div class="invalid-feedback">Location should be valid</div>
          </div>
        </div>
      </div>

      <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
    </form>
  </div>
</div>
